{% extends 'base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
<section>
    <h1>Hello World! 😀</h1>
 <p>
    My name is Carlos and I've been working with Python for the last few years, mostly as a Data-Many Hats-Something :P. Having successfully transitioned from Data Analyst to Data Engineer, I am now eager to focus fully on software development. This site is a live-lab to do my stuffs and experiments!🧪
</p>
<p>
    I have a Bachelor's degree in Sociology from the University of Buenos Aires and a bunch of experience in data engineering and analysis, which helps me connect the dots between technical stuff and what people actually need.
</p>
<p>
    My skills cover a lot of technologies, mainly everything that has to do with the 'Modern Data Stack' (maybe post-modern!).
</p>
<p>
    I also like to pitch in on open-source projects, like helping out with the Spanish translation of <a href="https://github.com/python/python-docs-es"> Python’s official documentation </a> or organizing <href="https://eventos.python.org.ar/events/pyday-hurlingham-2024">PyDay Hurlingham</a>, a local Python conference.
</p>
<p>
    I'm always up for new challenges, especially where data, technology, and society mix.
</p>
</section>
{% endblock %}

