{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<section>
    <h1>Contact Me 🤩</h1>
    <p>
        I’d love to hear from you! Feel free to reach out through any of the following channels:
    </p>
            <i class="bi bi-envelope-fill"></i> 
            <a href="mailto:lvccrespo@gmail.com">lvccrespo@gmail.com</a>
            <i class="bi bi-linkedin"></i> 
            <a href="https://www.linkedin.com/in/carloscrespoi" target="_blank">LinkedIn</a>
            <i class="bi bi-github"></i> 
            <a href="https://github.com/cacrespo" target="_blank">GitHub</a>
</section>

{% endblock %}
